<!DOCTYPE html>
<html>
  <head>
  {{>styles}}
  </head>
  <body>
      {{>contentblock}}

      <h2>Puslapis {{url}} buvo katatrofiskai nerastas!</h2>

      <h3>{{summary}}</h3>
      <footer>{{>footer}}</footer>
  </body>
</html>