<!DOCTYPE html>
<html>
  <head>
    {{>styles}}
  </head>
  <body>
    {{>contentblock}}
    <form>
     <input placeholder="Location">
     <button>Fetch Weather</button>
    </form>
    <p id="output">Output</p>
    <footer>{{>footer}}</footer>
    {{>scripts}}
  </body>
</html>